* {
  margin: 0;
  padding: 0;
  font-family: Inter;
}

body {
  background-color: bisque;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  background-color: white;
  max-width: 600px;
  padding: 50px;
  border-radius: 10px;
}
